body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}
h1 {
  font-size: 50px;
}
.orange {
  color: orange;
}
.flex-container {
  display: flex;
  margin-bottom: 80px;
}
.top-part {
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
}
.half-div {
  width: 40%;
  padding-left: 7%;
}
.half-div img {
  width: 100%;
}
.my-link {
  text-decoration: none;
  text-transform: uppercase;
  background: linear-gradient(lightsalmon, tomato);
  padding: 10px 40px;
  color: #fff;
  border-radius: 5px;
  font-weight: bold;
}
.middle-section {
  background-image: url(images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right bottom;
}
h2 {
  font-size: 36px;
  font-weight: bold;
}
.bottom-section {
  background-image: url(images/exp-bg.png);
  background-repeat: no-repeat;
  background-position: left;
  margin-bottom: 80px;
}
.box-section {
  display: flex;
}
.box {
  width: 40%;
  box-shadow: 10px 5px 40px gray;
  padding: 0 2%;
  padding-bottom: 4%;
  margin-left: 4%;
  margin-right: 5%;
  border-radius: 10px;
}
#box {
  border-left: 7px solid;
  border-image: linear-gradient(180deg, lightsalmon, tomato);
  border-image-slice: 1;
}
#baby-box {
  border-left: 7px solid;
  border-image: linear-gradient(180deg, blue, cyan);
  border-image-slice: 1;
}
.foter {
  text-align: center;
  color: dimgray;
}

/* medea */
@media screen and (max-width: 574px) {
  body {
    padding: 0;
  }
  .flex-container {
    display: block;
  }
  .half-div {
    width: 80%;
    text-align: center;
  }
  .half-div img {
    width: 80%;
    margin-top: 40px;
  }
  h1 {
    font-size: 35px;
  }
  h2 {
    font-size: 28px;
    text-align: center;
  }
  .box-section {
    display: block;
    margin-left: 6%;
  }
  .box {
    width: 80%;
    padding: 2% 2%;
    margin-top: 30px;
    text-align: center;
  }
}
